/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* End reset */

  body {
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .page-layout-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
  }




  header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1em;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
    position: relative;
  }

  .search-container {
    display: inline-flex;
  }

  .input-wrapper {
    display: inline-flex;
    align-content: center;
    flex: 1 1 auto;
  }

  input {
    width: clamp(20em, 1000px, 50%);
    height: 40px;
    background-color: #e2e8f0;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
    margin-right: 8em;
  }

  .input-wrapper::before {
    display: inline-block;
    content: url(./icons/magnify.svg);
    width: 40px;
  }

  .search-container span {
    font-size: 1.5em;
    font-weight: 700;
    position: relative;
  }

  .search-container > span::before {
    content: '';
    display: inline-block;
    background: no-repeat url(./profile-icons/rabbit.png);
    background-size: 2em 2em;
    width: 2em;
    height: 2em;
    position: absolute;
    left: -3em;
    top: -0.3em;
  }

  .bell-icon {
    width: 40px;
    position: absolute;
    left: -6em;
  }

  .create-post-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .account-greeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    position: relative;
    margin-left: 6em;
  }

  .account-greeting::before {
    content: '';
    display: inline-block;
    background: no-repeat url(./profile-icons/rabbit.png);
    background-size: 4em 4em;
    width: 4em;
    height: 4em;
    position: absolute;
    left: -6em;
  }

  .create-post-container button {
    border-radius: 40px;
    background-color: #1992d4;
    color: white;
    border: none;
    font-size: 1em;
    padding: 1.5ch 6ch;
    margin: 0 10px;
    font-weight: 700;
  }

  .create-post-button-wrapper {
    justify-self: end;
    text-wrap: nowrap;
  }

  


  .sidebar {
    grid-row: 1 / -1;
    background-color: #1992d4;
    color: white;
    justify-items: left;
    padding-left: 1em;
  }

  .sidebar h4 {
    font-size: 2em;
    margin-top: 0.5em;
    display: flex;
    gap: 15px;
  }

  .sidebar ul {
    padding: 0;
  }

  .sidebar li {
    margin: 0.5em;
    font-size: 1.6em;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  .sidebar :nth-child(7), li:first-of-type {
    margin-top: 4ch;
  }

  .sidebar h4::before {
    content: url(.//icons/view-dashboard.svg);
    display: inline-block;
    width: 1.5em;
  }

  .nav-account {
    :nth-child(1)::before {
      content: url(./icons/home.svg);
    }
    :nth-child(2)::before {
      content: url(./icons/account-details.svg);
    }
    :nth-child(3)::before {
      content: url(./icons/message.svg);
    }
    :nth-child(4)::before {
      content: url(./icons/clock.svg);
    }
    :nth-child(5)::before {
      content: url(./icons/note-multiple.svg);
    }
    :nth-child(6)::before {
      content: url(./icons/account-group.svg);
    }
    :nth-child(7)::before {
      content: url(./icons/cog.svg);
    }
    :nth-child(8)::before {
      content: url(./icons/help-box.svg);
    }
    :nth-child(9)::before {
      content: url(./icons/shield-check.svg);
    }
  }

  li::before {
    display: inline-block;
    width: 1em;
    padding-top: 3px;
  }




  .content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #e2e8f0;
    padding: 4em 1.5em;
    gap: 1em;
  }

  .your-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 10em));
    gap: 1em;
  }

  .your-projects .card {
    padding: 10px;
    border-left: 10px solid orange;
  }

  .card-icons {
    justify-self: right;
    margin-right: 8em;
    margin-top: 1em;
  }

  .card-icons::after {
    content: 
    url(./icons/star-plus-outline.svg) "\00a0\00a0\00a0\00a0\00a0\00a0"
    url(./icons/eye-plus-outline.svg) "\00a0\00a0\00a0\00a0\00a0\00a0"
    url(./icons/share-variant-outline.svg);
    display: inline-block;
    white-space: nowrap;
    width: 2em;
  }

  .news-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 4em;
  }

  .announcements .card, .announcements .card div {
    padding: 10px;
  }

  .announcements .card div:nth-child(2) {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  .announcements, .your-projects, .trending {
    position: relative;
  }

  h5 {
    position: absolute;
    top: -2em;
    font-size: 1.5em;
  }

  .project-card {
    width: clamp(25%, 800px, 100%);
  }

  .project-card > p {
    font-size: 1.3em;
  }

  .trending .card {
    min-width: 300px;
    padding: 20px;
    justify-items: center;
    text-align: start;
  }

  .trending .card div {
    margin-bottom: 2em;
  }

  .trending .card div:last-child {
    margin-bottom: initial;
  }

  .trending .card div:nth-child(1)::before {
    content: '';
    background: no-repeat url(./profile-icons/dog.png);
    background-size: 3em 3em;
  }

  .trending .card div:nth-child(2)::before {
    content: '';
    background: no-repeat url(./profile-icons/rabbit.png);
    background-size: 3em 3em;
  }

  .trending .card div:nth-child(3)::before {
    content: '';
    background: no-repeat url(./profile-icons/duck.png);
    background-size: 3em 3em;
  }

  .trending .card div:nth-child(4)::before {
    content: '';
    background: no-repeat url(./profile-icons/pig.png);
    background-size: 3em 3em;
  }

  .trending .card div::before {
    position: absolute;
    left: 15px;
    display: inline-block;
    width: 3em;
    height: 3em;
  }



  .card {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
    color: #808080;
    border-radius: 10px;
  }

  .card p {
    color: black;
    font-weight: 700;
  }

  .trending .card div p:nth-child(2) {
    color: #808080;
    font-weight: initial;
  }